*.pyc
/doc/*
!/doc/lcd-lvgl.md
!/doc/lcd-touch.md
!/doc/lcd-touch-lvgl.md
!/doc/ble.md
!/doc/ble-capabilities.md
!/doc/ble-sound.md
/logs
/workspace
/RTE
/Listings
/Objects
ra_cfg.txt

/Debug/
/makefile.targets
.config.old
Kconfig
sconscript_update.bat
.settings/.rtmenus
.config
.cproject
